asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==2.0.12
cryptography==44.0.0
defusedxml==0.8.0rc2
Django==5.1.4
django-allauth==0.47.0
django-otp==1.5.4
django-sslserver==0.22
idna==3.10
oauthlib==3.2.2
pillow==11.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-social-auth==0.3.6
python3-openid==3.2.0
pytz==2024.2
qrcode==8.0
requests==2.32.0
requests-oauthlib==2.0.0
social-auth-core==4.5.4
sqlparse==0.5.2
urllib3==1.26.20
