:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #ffffff;
    --black-color: #000000;
    --icon-color: rgba(145, 224, 255, 0.877);
    --glow-color: rgba(147, 16, 228, 0.742);
    --background-blur: 0px;
    --container-background: #4c7fce;
    --pong-color: #4868f3;
}

body {
    content: "";
    position: absolute;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    background-image: url('../images/bgg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(var(--background-blur));
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

/*--------------NAV BAR START------------------*/
.navbar {
    background: linear-gradient(135deg, #2a66c6, #114394);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    width: 740px;
    height: 50px;
    top: 35px;
    left: 51%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

/* Put nav bar to rightside when screen size is small */
@media (max-width: 700px) {
    .navbar {
        top: 90px;
        left: 4vw;
        transform: none;
        height: 600px;
        width: 50px;
    }
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 10%;
}

.nav-menu a span {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: rgb(241, 241, 241);
    transition: color 0.3s;
    background-color: var(--container-background);
    padding: 5px 10px;
    border-radius: 15px;
}

.nav-menu a:hover span {
    color: rgb(247, 247, 247);
    background-color: #0084ff;
    padding: 5px 10px;
    border-radius: 15px;
}

.nav-menu a i {
    display: none;
}

@media (max-width: 700px) {
       .pong {
        font-size: 6em;
        color: var(--icon-color);
        font-weight: bolder;
        position: relative;
        bottom: 1px;
        /*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
    }
    .nav-menu {
        top: 4vh;
        left: 0;
        transform: none;
        height: 600px;
        width: 50px;
        flex-direction: column;
    }

    .nav-menu a span {
        display: none;
    }

    .nav-menu a i {
        display: inline-block;
    }

    .nav-menu li {
        position: relative;
    }
    
    .nav-menu a {
        text-decoration: none;
        color: var(--icon-color);
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: background-color 0.3s;
    }
    
    .nav-menu a:hover {
        background-color: rgba(206, 206, 206, 0.11);
    }
    
    .nav-menu a::after {
        content: attr(title);
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-color:  #b3daff;;
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 15px;
        opacity: 0;
        white-space: nowrap;
        transition: opacity 0.3s;
        pointer-events: none;
        font-size: 12px;
        font-weight: bold;
    }
    
    .nav-menu a:hover::after {
        opacity: 1;
    }    
}

/*--------------NAV BAR END------------------*/

/*--------------MAIN CONTENT START------------------*/

.main { /* this container is invisible */
    position: fixed;
    top: 375px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 900px;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.wel-container {
    position: fixed;
    top: 375px;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

.play-container {
    position: fixed;
    top: 160px;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

.account-container {
    position: fixed;
    top: 580px;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

.leader-container {
    position: fixed;
    top: 440px;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

.chat-container {
    position: fixed;
    top: 300px;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

/* Put it in rightside when screen size is big */

@media (max-width: 840px) {
    .wel-container {
        display: none;
    }

    .play-container {
        top: 160px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
    }

    .account-container {
        top: 580px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
    }

    .leader-container {
        top: 440px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
    }

    .chat-container {
        top: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
    }
}

/* ------ WELCOME SECTION START ------*/

.wel-user {
    font-family: "Modak";
    color: var(--white-color);
    margin-top: 2%;
    font-size: 3em;
}

.wel-user h1{
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43);
    background-position: 50% 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 200px;
    color: #000000d1;
    position: fixed;
    right: 10%;
    top: 70px;
}

.wel-user p {
    position: fixed;
    right: 10%;
}

.round {
    background-color: #b3daff;
    height: 110px;
    width: 110px;
    border-radius: 100%;
    position: fixed;
    top: 3%;
    left: 7%;
}

.profile-pic {
    background-image: url(../images/11475215.jpg);
    background-size: 110px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: fixed;
    top: 4%;
    left: 8.2%;
    z-index: 2;
}

.profile-pic img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: fixed;
    top: 4%;
    left: 8.2%;
    z-index: 3;
}


.inside-wel {
    background-color: rgba(0, 0, 0, 0.156);
    backdrop-filter: blur(10px);
    height: 360px;
    width: 350px;
    position: fixed;
    bottom: 40px;
    left: 25px;
    border-radius: 20px;
}

.edit-pic {
    position: fixed;
    top: 110px;
    left: 55px;
    z-index: 1;
}

.temp {
    background-image: url("../images/About\ me-bro.png");
    background-size: cover;
    height: 250px;
    width: 250px;
    position: fixed;
    bottom: 15%;
    right: 13%;
    display: inline-block;
}

.temp p {
    position: fixed;
    bottom: 0%;
    left: 35%;
    color: #b3daff;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}

/* ------ WELCOME SECTION END ------*/


/* ------ PLAY SECTION START ------*/
.play{
    font-family: "Modak";
    color: var(--white-color);
    margin-top: -18%;
    margin-left: -20%;
    z-index: 2;
}
.yellow-badge {
    margin-top: 2%;
    margin-left: 60%;
}

.rocket {
    margin-top: -8%;
    margin-left: -5%;
}

.ball-bat{
    font-size: 8em;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-top: -35%;
    margin-left: -20%;
    rotate: -15deg;
}

.play-pic {
    background-image: url("../images/play.png");
    background-size: cover;
    height: 100px;
    width: 160px;
    position: fixed;
    top:17%;
    right: 1%;
    display: inline-block;
    z-index: -1;
}

/* ------ PLAY SECTION END ------*/


/* ------ CHAT SECTION START ------*/

.chat{
    font-family: "Modak";
    color: var(--white-color);
    margin-top: 30px;
    margin-left: 140px;
    z-index: 1;
}

.chat-pic {
    background-image: url("../images/chat.png");
    background-size: cover;
    height: 120px;
    width: 180px;
    position: fixed;
    display: inline-block;
}

.chat-container p {
    color:#b3daff;
    font-size: .7em;
    margin-left: 50%;
    margin-top: -4%;
    line-height: 1;
}


/* ------ CHAT SECTION END ------*/

/* ------ LEADERBOARD SECTION START ------*/

.leaderboard{
    font-family: "Modak";
    color: var(--white-color);
    margin-top: 2%;
    font-size: xx-large;
}

.leader-pic {
    background-image: url("../images/leadership-cuate.png");
    background-size: cover;
    height: 130px;
    width: 240px;
    position: fixed;
    display: inline-block;
    top: -8%;
    left: 6%;
}

.leader-container p {
    color: rgb(255, 255, 255);
    margin-top: -35%;
    line-height: 1;
    font-weight: 200;
    font-style: italic;
}

.leader-div {
    background-image: url("../images/king.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10%;
    right: 0%;
    rotate: 30deg;
}

/* ------ LEADERBOARD SECTION END ------*/

/* ------ SETTINGS SECTION START ------*/

.settings{
    font-family: "Modak";
    color: rgb(255, 255, 255);
    margin-top: 2%;
}

.settings-pic {
    background-image: url("../images/settings.png");
    background-size: cover;
    height: 130px;
    width: 230px;
    position: fixed;
    display: inline-block;
    left: 11%;
    top: -9%;
    z-index: -1;
}

.settings-3d {
    background-image: url("../images/3d-setting.png");
    background-size: cover;
   
    height: 80px;
    width: 80px;
    position: fixed;
    top: 50%;
    right: -25px;
    rotate: -80deg
}

/* ------ SETTINGS SECTION END------*/

/*--------------MAIN CONTENT END------------------*/

/* ------ START ENTRY PAGE ------ */
.pong-container {
    background-color: var(--pong-color);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 215px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 340px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

.pong {
    background-image: url('../images/pong.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 390px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: "Modak";
    font-size: 7em;
    color: rgba(255, 255, 255, 0.84);
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    font-family: "Modak";
    position: fixed;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(246, 246, 246, 0.775);
    background-size: cover;
    height: 60px;
    width: 170px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
    border: 2px solid #0043af;
}

.button h1 {
    margin-top: 12px;
    font-size: 2em;
    color:rgba(0, 0, 0, 0.837);
}

.button:hover {
    background-color: #007bff;
}

/* ------ END ENTRY PAGE ------ */

/*-------- LOGIN START ---------*/

.login-container {
    background-color: var(--container-background);
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    height: 450px;
    width: 400px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

.login-text {
    font-family: "Modak";
    color: var(--light-color);
    font-size: 3em;
    margin-top: 50px;
    z-index: 2;
}

.form-box {
    position: relative;
    left: -50px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 300px;
}

.form {
    height: 30px;
    width: 200px;
}

.form input{
    text-align: center;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono";
    font-weight: lighter;
    opacity: .8;
}


form .login-button {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0.5, 0, 0, 0.3); /* shadow */
    height: 30px;
    width: 140px;
    font-weight: bold;
    position: relative;
    left: 30px;
}

form .login-button:hover {
    background-color: #ffffff;
    border: 2px solid rgb(0, 128, 255);
}

.intra-login {
    font-family: "Share Tech Mono";
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(189, 189, 189);
    box-shadow: 0 6px 6px rgba(0.5, 0, 0, 0.3); /* shadow */
    height: 30px;
    width: 160px;
    position: relative;
    top: 140px;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: .8;
}

.intra-login:hover {
    background-color: #ffffff;
    border: 2px solid rgb(0, 128, 255);
}

.icon {
    margin-left: 6px;
    height: 18px;
    width: 18px;
}

.forgot-passwd {
    font-family: "Monomaniac One";
    position: relative;
    top: 20px;
    font-size: .8em;
}

.signup {
    position: relative;
    top: 140px;
    font-family: "Monomaniac One";
    font-size: .8em;
}

.signup-button {
    background: none;
    border: none;
    color: rgb(25, 25, 25);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.signup-button strong {
    font-weight: normal;
}

.or {
    font-family: "Cutive Mono";
    position: relative;
    top: 136px;
    font-size: .7em;
}

/* .image {
    background-image: url("../images/login.png");
    background-size: cover;
    display: inline-block;
    height: 200px;
    width: 200px;
    z-index: 1;
    position: absolute;
    top: 160px;
    left: -200px;
    transform: translate(50%, 50%);
} */

/*-------- LOGIN END ---------*/


/*------- GAME PAGE START -------*/

.gamepage-container {
    background-color: var(--container-background);
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 550px;
    width: 400px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

.choose-avatar, .choose-nickname, .ready {
    margin-bottom: 20px;
}

.choose-avatar h2 {
    position: relative;
    top: 50px;
    color: white;
    font-family: "Sour Gummy";
}

.choose-nickname h2 {
    position: relative;
    top: 250px;
    left: 90px;
    color: white;
    font-family: "Sour Gummy";
}

.avatar-options {
    position: fixed;
    top: 100px;
    left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px;
}

.avatar-options img {
    background-color: #ffffff;
    width: 70%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar-options img:hover {
    transform: scale(1.1);
}

.gamepage-input[type="text"] {
    text-align: center;
    position: relative;
    top: 250px;
    width: 300px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 0 5px 6px rgba(0.5, 0, 0, 0.21); /* shadow */
}

.gamepage-button {
    font-family: "Modak";
    font-size: 2em;
    color: #111111c0;
    position: fixed;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 60px;
    width: 170px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 5px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
    border: 2px solid #00a6ff;
}

.gamepage-button:hover {
    background-color: #007bffd3;
    color: rgb(255, 255, 255);
}

.selected-avatar {
    border: 3px solid #FFD700;
    border-radius: 50%;
}

/*------- GAME PAGE END -------*/

/*------- MAIN GAME START -------*/

.maingame-container {
    background-color: var(--pong-color);
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    width: 740px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

.middle-line {
    background-color: var(--black-color);
    transform: translateX(-50%);
    height: 360px;
    width: 1px;
    position: fixed;
    top: 20px;
    opacity: .5;
    z-index: -1;
}

/* game scoreboard during game*/
.score-board {
    font-family: "Sour Gummy";
    background-color: var(--container-background);
    position: fixed;
    bottom: -150px;
    left: 50%;
    transform: translate(-50%);
    height: 100px;
    width: 740px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

/* Player in the left player1*/
.left-player {
    align-items: center;
    justify-items: center;
    display: flex;
}

.left-player img {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 80px;
    width: auto;
    border-radius: 50%;
    border: 1px solid white;
}

.left-player h3 {
    position: fixed;
    left: 110px;
    top: 33px;
}

.left-player h1 {
    position: fixed;
    left: 280px;
    top: 20px;
    font-size: 3em;
}

/* line in the middle */
.score-line {
    background-color: var(--black-color);
    transform: translateX(-50%);
    height: 80px;
    width: 1px;
    position: fixed;
    top: 10px;
    opacity: .5;
}

/* Player in the right player2*/
.right-player {
    align-items: center;
    justify-items: center;
    display: flex;
}

.right-player img {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 80px;
    width: auto;
    border-radius: 50%;
    border: 1px solid white;
}

.right-player h3 {
    position: fixed;
    right: 110px;
    top: 33px;
}

.right-player h1 {
    position: fixed;
    right: 280px;
    top: 20px;
    font-size: 3em;
}

.quit-game {
    font-family: "Sour Gummy";
    background-color: var(--container-background);
    position: fixed;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    width: 140px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

.quit-game h1 {
    font-family: "Modak";
    color: rgba(255, 255, 255, 0.736);
    letter-spacing: 2px;
    margin-top: 5px;
}

.quit-game:hover {
    background-color: #007bff;
    font-family: "Modak";
    color: rgba(255, 255, 255, 0.884);
    letter-spacing: 2px;
    margin-top: 5px;
}

.middle-line.hidden {
    display: none;
}

.countdown {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    color: white;
    font-family: "Sour Gummy";
    z-index: 10;
}

.hidden {
    display: none;
}

.confirmation-to-quit {
    font-family: "Sour Gummy";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.confirmation-to-quit p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.confirmation-to-quit button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.confirmation-to-quit button:hover {
    background-color: #0056b3;
}
/*------- MAIN GAME END -------*/

/*------- CHAT PAGE START -------*/

.chat-title {
    height: 60px;
    width: 200px;
    color: white;
    font-family: "Modak";
    position: relative;
    transform: translateX(50%);
    align-items: center;
    justify-content: center;
    display: flex;
    top: -70px;
    right: 100px;
}

.chat-title h1 {
    font-size: 5em;
    margin-top: 15px;
}

.chatpage-container {
    background-color: var(--pong-color);
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    height: 600px;
    width: 400px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

.chat-top-bar {
    background-color: var(--container-background);
    height: 60px;
    width: 250px;
    position: relative;
    top: -60px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
    border: 1px solid rgba(249, 249, 249, 0.563);
}

.chating-with img {
    height: 50px;
    width: 50px;
    position: relative;
    top: 5px;
    left: 176px;
}

.p-pic-back {
    background-color: #0056b3;
    height: 55px;
    width: 55px;
    position: absolute;
    border-radius: 50%;
    right: 20px;
    border: 2px solid beige;
    margin-top: 3px;
}

.friend-name {
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: white;
    left: 50px;
    font-weight: bold;
    top: 5px;
}

.friend-name span {
    font-size: .3em;
    position: absolute;
    left: 0;
    top: 30px;
}

.chat-box-holder {
    position: fixed;
    bottom: 30px;
    right: -55px;
    transform: translateX(-50%);
    height: 50px;
    width: 290px;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(0.5, 0, 0, 0.51);
    border: 2px solid rgba(255, 255, 255, 0.315);
    color: #000000a5;
}

.chat-box-holder i {
    font-size: 1.4em;
    position: relative;
    top: 12px;
    left: 10px;
    z-index: 1;
    opacity: .9;
    color: rgba(255, 255, 255, 0.935);
}

.chat-box {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 30px;
    width: 180px;
    position: relative;
    top: 8px;
    left: 30px;
}

.chat-box:focus {
    border: none;
    outline: none;
}
    
.chat-box::placeholder{
    color: var(--white-color);
    position: relative;
    left: 0px;
    opacity: 0.7;
}

.attachment {
    position: fixed;
    right: 25px;
    bottom: 18px;
}

.send-button {
    background-color: var(--container-background);
    position: fixed;
    bottom: 30px;
    right: 0px;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0.5, 0, 0, 0.51);
    border: 2px solid rgb(0, 194, 238);
}

.send-button:hover {
    background-color: #008cff;
    border: 2px solid rgb(0, 194, 238);
    box-shadow: 0 0 10px rgba(0, 194, 238, 0.8), 0 0 20px rgba(0, 194, 238, 0.6), 0 0 30px rgba(0, 194, 238, 0.4); /* Glowing effect */
}

.send-button i {
    font-size: 1.8em;
    position: relative;
    margin-top: 10px;
    margin-left: 6px;
    color: white;
}

.friends {
    background-color: var(--pong-color);
    position: fixed;
    top: 20px;
    left: 0px;
    transform: translateX(-50%);
    height: 561px;
    width: 80px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 2px 0px 10px rgba(0.1, 0, 0, 0.51);
    border: 2px solid rgba(255, 255, 255, 0.315);
    overflow-y: auto;
    max-height: 500px;
    padding: 10px;
    scrollbar-width: none;
}

.active-friends {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.friend img {
    position: relative;
    left: -2px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1;
}

.friend span{
    position: relative;
    top: -15px;
    text-align: center;
    font-size: .6em;
    color: white;
    z-index: 3;
}

@media (min-width: 880px) {
    .chatpage-container {
        background-color: var(--pong-color);
        position: fixed;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        height: 600px;
        width: 700px;
        align-items: center;
        justify-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
    }
    .friends {
        background-color: var(--pong-color);
        position: fixed;
        top: 20px;
        left: 0px;
        transform: translateX(-50%);
        height: 561px;
        width: 180px;
        align-items: center;
        justify-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 2px 0px 10px rgba(0.1, 0, 0, 0.51);
        border: 2px solid rgba(255, 255, 255, 0.315);
        overflow-y: auto;
        max-height: 500px;
        padding: 10px;
        scrollbar-width: none;
    }
    
    .active-friends {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
    }
    
    .friend img {
        position: relative;
        left: -2px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        z-index: 1;
    }
    
    .friend span{
        position: relative;
        top: 0px;
        text-align: center;
        font-size: .6em;
        color: white;
        z-index: 3;
    }

    .chat-box-holder {
        position: fixed;
        bottom: 30px;
        right: -150px;
        transform: translateX(-50%);
        height: 50px;
        width: 490px;
        border-radius: 25px;
        box-shadow: 0 2px 6px rgba(0.5, 0, 0, 0.51);
        border: 2px solid rgba(255, 255, 255, 0.315);
        color: #000000a5;
    }

    .chat-box-holder i {
        font-size: 1.4em;
        position: relative;
        top: 10px;
        left: 10px;
        z-index: 1;
        opacity: .9;
        color: rgba(255, 255, 255, 0.935);
    }
    
    .chat-box {
        background-color: transparent;
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        box-sizing: border-box;
        height: 30px;
        width: 360px;
        position: relative;
        top: 8px;
        left: 30px;
    }

    .chat-box:focus {
        border: none;
        outline: none;
    }
        
    .chat-box::placeholder{
        color: var(--white-color);
        position: relative;
        left: 60px;
        opacity: 0.7;
    }

    .attachment {
        position: fixed;
        right: 25px;
        bottom: 18px;
    }

    .send-button {
        background-color: var(--container-background);
        position: fixed;
        bottom: 30px;
        right: 0px;
        transform: translateX(-50%);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 0 2px 6px rgba(0.5, 0, 0, 0.51);
        border: 2px solid rgb(0, 194, 238);
    }

    .send-button:hover {
        background-color: #008cff;
        border: 2px solid rgb(0, 194, 238);
        box-shadow: 0 0 10px rgba(0, 194, 238, 0.8), 0 0 20px rgba(0, 194, 238, 0.6), 0 0 30px rgba(0, 194, 238, 0.4); /* Glowing effect */
    }

    .send-button i {
        font-size: 1.8em;
        position: relative;
        margin-top: 10px;
        margin-left: 6px;
        color: white;
    }

    /* when a messege sent*/
    .chat-messages {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
        background-color: var(--pong-color);
        width: 80%;
        height: auto;
        border-radius: 20px;
        position: relative;
        right: -30px;
        bottom: 50px;
        z-index: -1;
        max-height: 450px;
    }
    
    .chat-message {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        max-width: 80%;
        word-wrap: break-word;
        width: auto;
        border-radius: 20px 20px 0 20px;
        position: relative;
        right: -50px;
    }

    .chat-message img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        position: absolute;
        bottom: 0;
        right: -50px;
    }
    
    .chat-message span {
        display: inline-block;
        max-width: calc(100% - 40px);
        word-wrap: break-word;
    }
}

/* when a messege sent*/
.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: var(--pong-color);
    width: 80%;
    height: auto;
    border-radius: 20px;
    position: relative;
    right: -30px;
    bottom: 50px;
    z-index: -1;
    max-height: 450px;
}

.chat-message {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
    width: auto;
    border-radius: 20px 20px 0 20px;
    position: relative;
    right: -30px;
}

.chat-message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; /* Space between image and text */
}

.chat-message span {
    display: inline-block;
    max-width: calc(100% - 40px);
    word-wrap: break-word;
}

.chat-messages:focus{
    border: none;
    outline: none;
}

.chat-message:focus{
    border: none;
    outline: none;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

/*------- CHAT PAGE END -------*/

/*------- LEADERBOARD PAGE START -------*/

.leaderboard-container {
    background-color: var(--container-background);
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 700px;
    width: 600px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
    gap: 20px;
    padding: 20px;
}

.top-badge {
    background-image: url(../images/rewards.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    position: absolute;
    margin-left: -220px;
    margin-top: 20px;
}

.top-player {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pong-color);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.rank-number {
    font-size: 2em;
}

.top-player h2 {
    font-family: "Modak";
    letter-spacing: 2px;
    position: fixed;
    top: 20px
}

.top-player .player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-player .player img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.player-top {
    font-family: "Sour Gummy";
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px;
    color: white;
    gap: 10px;
    position: fixed;
    top: 50px;
}

.player-top img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.player-top span {
    font-size: 1.2em;
    text-align: center;
}

.all-players {
    width: 100%;
    max-height: 400px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-all-rank {
    background-color: var(--pong-color);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.253);
    align-items: center;
    justify-content: center;
    display: flex;
}

.title-all-rank h2 {
    font-family: "modak";
    color: white;
    margin-top: 12px;
}

.player-header {
    display: flex;
    justify-content: space-between;
    width: 92%;
    padding: 10px;
    background-color: var(--pong-color);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 40px;
}

.player {
    font-family: "Sour Gummy";
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--pong-color);
    border-radius: 15px;
    color: white;
    gap: 10px;
}

.player img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.player span {
    font-size: 1.2em;
    text-align: center;
}

.all-players::-webkit-scrollbar {
    display: none;
}

/*------- LEADERBOARD PAGE END -------*/

/*------- SETTINGS PAGE START -------*/

.settings-container {
    background-color: var(--container-background);
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 550px;
    width: 400px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 10px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

.settings-container h2 {
    font-family: "modak";
    font-size: 3em;
    margin-top: -70px;
    color: white;
}

.username-container input{
    border-radius: 10px;
    border: none;
    font-family: "sour gummy";
    text-align: center;
    position: fixed;
    top: 175px;
    left: 110px;
    opacity: .8;
}

.change-username{
    background-color: var(--container-background);
    height: 40px;
    width: 250px;
    position: fixed;
    top: 220px;
    left: 70px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0.2, 0, 0, 0.31); /* shadow */
    color: white;
    font-family: "Sour Gummy";
}

.change-username p {
    position: relative;
    top: 6px;
    margin-left: -40px;
}

.change-username i {
    margin-left: 190px;
    position: relative;
    top: -32px;
}

.change-username:hover {
    background-color: var(--pong-color);
}

.password-container {
    border-radius: 10px;
    border: none;
    font-family: "sour gummy";
    text-align: center;
    position: fixed;
    top: 290px;
    left: 110px;
    opacity: .8;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-container input{
    border-radius: 10px;
    border: none;
    font-family: "sour gummy";
    text-align: center;
    opacity: .8;
}

.change-password {
    background-color: var(--container-background);
    height: 40px;
    width: 250px;
    position: fixed;
    bottom: 100px;
    left: 75px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0.2, 0, 0, 0.31); /* shadow */
    color: white;
    font-family: "Sour Gummy";
}

.change-password p {
    margin-top: 6px;
    position: relative;
    margin-right: 50px;
}

.change-password i {
    margin-left: 190px;
    position: relative;
    bottom: 38px;
}

.change-password:hover {
    background-color: var(--pong-color);
}

.settings-container .wel-user p {
    margin-right: 50px;
}

.change-username input {
    border: none;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 176px;
    left: 110px;
    opacity: .7;
}

.change-username input:focus {
    outline: none;
    border: none;
}

.change-password input {
    border: none;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 130px;
    left: 0px;
    margin-top: 10px;
    opacity: .7;
}

.change-password input:focus {
    outline: none;
    border: none;
}

.authentication {
    background-color: var(--container-background);
    height: 40px;
    width: 250px;
    position: fixed;
    bottom: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0.2, 0, 0, 0.31); /* shadow */
    color: white;
    font-family: "Sour Gummy";
}

.authentication input {
    position: fixed;
    right: 100px;
    margin-top: 10px;
}

.authentication label {
    margin-left: -100px;
    margin-top: 7px;
}

/*------- SETTINGS PAGE END -------*/
 