:root {
    --background-image: url('dark.gif');
    /*--background-blur: 10px;*/
    --text-color: #ffffff;
    --button-bg: rgba(0, 0, 0, 0.3);
    --button-hover-bg: rgba(178, 36, 255, 0.7);
    --container-bg: rgba(255, 255, 255, 0.1);
    --container-border: rgba(255, 255, 255, 0.18);
    --nav-bg: rgba(226, 214, 214, 0.3);
}

body.light-mode {
    --background-image: url('light.gif');
    /*--background-blur: 10px;*/
    --text-color: #ffffff;
    --button-bg: rgba(0, 0, 0, 0.3);
    --button-hover-bg: rgba(0, 166, 255, 0.7);
    --container-bg: rgba(0, 0, 0, 0.1);
    --container-border: rgba(0, 0, 0, 0.18);
    --nav-bg: rgba(255, 255, 255, 0.3);
}

body {
    font-family: 'Roboto Mono', monospace;
    background: var(--background-image) fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    backdrop-filter: blur(var(--background-blur));
    position: fixed;
}

.highlight {
    color: var(--text-color);
    font-family: 'Modak', sans-serif;
    opacity: 1;
    font-size: 2em;
    position: absolute;
    top: 10%;
    opacity: 0.7;
    font-weight: lighter;
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-weight: bolder;
    top: 0%;
    line-height: 0;
    left: 0;
    right: 0;
}

.icon {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 1%;
    right : 2%;
    opacity: 0.6;
}


.container {
    background: linear-gradient(135deg, var(--container-bg), rgba(255, 255, 255, 0));
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid var(--container-border);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 25vw;
    max-width: 40vw;
    min-width: 20vw;
    position: absolute;
    left: 110px;
    top: 22vh;
    z-index: 2;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-container .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: var(--button-bg);
    border: 1px solid rgba(24, 20, 20, 0.18);
    border-radius: 15px;
    color: var(--text-color);
    text-decoration: none;
    transition: background 0.3s ease;
    width: 100px;
    height: auto;
    line-height: auto;
    text-align: center;
    font-size: .7em;
}

.button-container .button:hover {
    background: var(--button-hover-bg);
}

.button42 {
    padding: 10px 20px;
    background: var(--button-bg);
    border: 1px solid rgba(24, 20, 20, 0.18);
    border-radius: 15px;
    color: var(--text-color);
    text-decoration: none;
    transition: background 0.3s ease;
    width: 130px;
    height: auto;
    line-height: auto;
    text-align: center;
    font-size: .7em;
    position: absolute;
    bottom: 20%;
    font-weight: bolder;
}

/* form button */
.button-form
{
    padding: 10px 20px;
    background: var(--button-bg);
    border: 1px solid rgba(24, 20, 20, 0.18);
    border-radius: 10px;
    color: var(--text-color);
    text-decoration: none;
    transition: background 0.3s ease;
    width: 15vw;
    height: 15px;
    line-height: 10px;
    text-align: center;
    font-size: .7em;
    margin-top: 10px;
}

.button-form:active
{
    border: 11px solid rgb(22, 22, 22);
}

/*footer*/
.footer {
    position: fixed;
    bottom: 2%;
    left: 4%;
    right: 0;
    color: var(--text-color);
    font-size: 0.6em;
    opacity: 0.2;
}

.footer-link {
    color: var(--text-color);
    text-decoration: none;
}

/* Navigation bar */
.nav_container
{
    position: fixed;
    background: linear-gradient(135deg, var(--container-bg), rgba(255, 255, 255, 0));
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px 20px 20px 20px;
    border: 1px solid var(--container-border);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.37);
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    top : 30vh;
    left : -70px;
    rotate: 90deg;
    gap : 10px;
}

.nav-toggle {
    height: 40px;
    width: 40px;
    background: var(--button-bg);
    border: 1px solid rgba(24, 20, 20, 0.18);
    border-radius: 100px;
    color: var(--text-color);
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 3;
    rotate: -90deg;
}

.nav-toggle:hover {
    background: var(--button-hover-bg);
}

.nav-toggle1:hover {
    background: var(--button-hover-bg);
}

.nav-toggle2:hover {
    background: var(--button-hover-bg);
}

.nav-toggle3:hover {
    background: var(--button-hover-bg);
}

.nav-toggle.container {
    background: var(--button-hover-bg);
}

.mode-switch {
    position: absolute;
    top: 90%;
    right: 25px;
    padding: 13px;
    background: var(--button-bg);
    border: 1px solid rgba(24, 20, 20, 0.18);
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    transition: background 0.3s ease;
}

.mode-switch:hover {
    background: var(--button-hover-bg);
}


/* Add this to your CSS file */
.blur-background {
    --background-blur: 50px
}

#home-container {
    background: linear-gradient(135deg, var(--container-bg), rgba(255, 255, 255, 0));
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid var(--container-border);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 50vw;
    max-width: 40vw;
    min-width: 20vw;
    position: relative;
    left: 30%;
    top: 22vh;
    z-index: 2;
    flex-direction: column;
}

.option-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.option-button {
    padding: 10px 20px;
    font-size: clamp(5px, 12px, 15px);
    background: var(--button-bg);
    border: 1px solid rgba(24, 20, 20, 0.18);
    border-radius: 15px;
    color: var(--text-color);
    text-decoration: none;
    transition: background 0.3s ease;
    width: 20vw;
    height: auto;
    line-height: auto;
    text-align: center;
}

.option-button:hover {
    background: var(--button-hover-bg);
}