:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #ffffff;
    --black-color: #000000;
    --icon-color: rgba(0, 170, 255, 0.877);
    --glow-color: rgba(147, 16, 228, 0.742);
    --background-blur: 100px;
    --container-background: #4c7fce;
}

body {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #2a66c6, #114394);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(var(--background-blur));
    z-index: -1;
}

/*--------------NAV BAR START------------------*/
.navbar {
    background: linear-gradient(135deg, #2a66c6, #114394);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    width: 700px;
    height: 50px;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.51); /* shadow */
}

/* Put nav bar to rightside when screen size is small */
@media (max-width: 700px) {
    .navbar {
        top: 10vh;
        left: 4vw;
        transform: none;
        height: 600px;
        width: 50px;
    }
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 8%;
}

.nav-menu a span {
    display: inline-block;
    font-size: 12px;
    color: rgb(241, 241, 241);
    transition: color 0.3s;
    background-color: #4c7fce;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-menu a:hover span {
    color: rgb(29, 29, 29);
    background-color: #2cbeef;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-menu a i {
    display: none;
}

@media (max-width: 700px) {
       .pong {
        font-size: 6em;
        color: var(--icon-color);
        font-weight: bolder;
        position: relative;
        bottom: 1px;
        /*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
    }
    .nav-menu {
        top: 8vh;
        left: 0;
        transform: none;
        height: 600px;
        width: 50px;
        flex-direction: column;
    }

    .nav-menu a span {
        display: none;
    }

    .nav-menu a i {
        display: inline-block;
    }

    .nav-menu li {
        position: relative;
    }
    
    .nav-menu a {
        text-decoration: none;
        color: var(--icon-color);
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: background-color 0.3s;
    }
    
    .nav-menu a:hover {
        background-color: rgba(206, 206, 206, 0.11);
    }
    
    .nav-menu a::after {
        content: attr(title);
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(249, 249, 249, 0.984);
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 5px;
        opacity: 0;
        white-space: nowrap;
        transition: opacity 0.3s;
        pointer-events: none;
        font-size: 12px;
    }
    
    .nav-menu a:hover::after {
        opacity: 1;
    }    
}

/*--------------NAV BAR END------------------*/

/*--------------MAIN CONTENT START------------------*/

.main { /* this container is invisible */
    position: fixed;
    top: 375px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 900px;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.wel-container {
    position: fixed;
    top: 375px;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

.play-container {
    position: fixed;
    top: 160px;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

.account-container {
    position: fixed;
    top: 580px;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

.leader-container {
    position: fixed;
    top: 440px;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

.chat-container {
    position: fixed;
    top: 300px;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--container-background);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
}

@media (max-width: 840px) {
    .wel-container {
        display: none;
    }

    .play-container {
        top: 160px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
    }

    .account-container {
        top: 580px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
    }

    .leader-container {
        top: 440px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
    }

    .chat-container {
        top: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
    }
}
/*--------------MAIN CONTENT END------------------*/
